@page
@model IndexModel
@{
    ViewData["Title"] = "Vehiculos de Transporte G4";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Vehiculos de Transporte Grupo 4</h1>
    <br>
    <br>
    <h4 class="display-6">Integrantes</h4>
    <br>
    <p>Julio César Campos lizarazo</p>
    <p>Julian David Flórez Yagüe</p>
    <p>Miguel Antonio Charris Linares</p>
    <p>Cristian Camilo Beltran Baquero</p>
    <br>
    <br>
    <p>Mision TIC 2022</p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
